* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 10);
}
@font-face {
	font-family: raleway-c;
	src: url('../fonts/raleway-regular.woff2');
}
@font-face {
	font-family: outfit-c;
	src: url('../fonts/outfit-regular.woff2');
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: outfit-c;
}
.content,
.header-img,
.main-header,
.gallery > * {
	will-change: transform;
}
body {
	background-image: url('../img/bg.jpg');
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
/* .hero-section */
.header-section {
}
/* .hero */
.header-img {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
	position: relative;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: 0.9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 10) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}

.gallerty__left {
	/* margin-top: calc(var(--gallery-gap) * 1.75); */
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
	width: calc(var(--index) * 15);
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
@media (max-width: 768px) {
	.header-img {
		width: calc(var(--index) * 30);
		left: 0;
		top: 0;
	}
	.main-title {
		font-size: calc(var(--index) * 5);
		position: absolute;
		width: min-content;
		bottom: 15vh;
		line-height: 0.9;
	}
	.gallery {
		flex-direction: column;
		padding: calc(var(--index) * 10) 0;
	}
}
